// KOLORKI
$color-light-cyan: #e0fbfc;
$color-light-blue: #98c1d9;
$color-dark-blue: #3d5a80;
$color-light-red: #ee6c4d;
$color-black: #293241;

$color-grey-dark: #585858;
$color-white: #fff;
$color-light: #e2e2e2;

// CZCIONKA
$default-font-size: 1.6rem;